@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #16a34a;
}

.swal2-popup {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
